footer {
  color: var(--color-white);
  font-size: 11px;
}

.Footer-content-container {
  background-color: var(--color-brown);
  min-height: 300px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.Footer-content {
  max-width: 1440px;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  padding: var(--space-12) var(--space-12);
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 680px) {
  .Footer-content {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .Footer-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.Footer-content-list {
  list-style: none;
}

.Footer-content-list-item {
  margin-bottom: var(--space-3);
}

.Footer-address {
  max-width: 100%;
  margin-top: var(--space-4);
}

@media screen and (min-width: 1024px) {
  .Footer-address {
    margin-top: 0;
    max-width: 270px;
  }
}

.Footer-address p {
  margin-bottom: var(--space-3);
}

.Footer-socials {
  margin-top: var(--space-6);
}

.Footer-socials span {
  display: block;
  margin-bottom: var(--space-3);
}

.Footer-socials-icons {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 270px;
}

@media screen and (min-width: 680px) {
  .Footer-socials-icons {
    margin: initial;
  }
}

.Footer-socials-icons a {
  height: 30px;
  width: 30px;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.Footer-icon {
  width: 18px;
  height: 18px;
}

.Footer-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
  padding-bottom: var(--space-8);
}

.Footer-copyright p:first-child {
  font-size: var(--font-size-xs);
  font-weight: 700;
}
