.Registration-page {
  width: 100%;
  max-width: 630px;
  margin: auto;
  padding: var(--space-12) var(--space-6);
}

.Registration-page-top-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-7);
}

.Registration-page-title {
  margin-bottom: var(--font-size-xl);
}
