.Text_h1_heading {
  font-size: var(--font-size-4xl);
  font-family: var(--font-big-caslon);
  font-weight: inherit;
}

.Text_h1_normal {
  font-size: var(--font-size-4xl);
  font-family: var(--font-avenir-lt);
  font-weight: inherit;
}

.Text_h2_heading {
  font-size: var(--font-size-2xl);
  font-family: var(--font-big-caslon);
  font-weight: inherit;
}

.Text_h2_normal {
  font-size: var(--font-size-2xl);
  font-family: var(--font-avenir-lt);
  font-weight: inherit;
}

.Text_h3_heading {
  font-size: var(--font-size-lg);
  font-family: var(--font-big-caslon);
  font-weight: inherit;
}

.Text_h3_normal {
  font-size: var(--font-size-lg);
  font-family: var(--font-avenir-lt);
  font-weight: inherit;
}

.Text_h4_heading {
  font-size: var(--font-size-md);
  font-family: var(--font-big-caslon);
  font-weight: inherit;
}

.Text_h4_normal {
  font-size: var(--font-size-md);
  font-family: var(--font-avenir-lt);
  font-weight: inherit;
}

.Text_h5_heading {
  font-size: var(--font-size-md);
  font-family: var(--font-big-caslon);
  font-weight: inherit;
}

.Text_h5_normal {
  font-size: var(--font-size-md);
  font-family: var(--font-avenir-lt);
  font-weight: inherit;
}

.Text_h6_heading {
  font-size: var(--font-size-md);
  font-family: var(--font-big-caslon);
  font-weight: inherit;
}

.Text_6_normal {
  font-size: var(--font-size-md);
  font-family: var(--font-avenir-lt);
  font-weight: inherit;
}

.Text_p_heading {
  font-size: var(--font-size-md);
  font-family: var(--font-big-caslon);
}

.Text_p_normal {
  font-size: var(--font-size-md);
  font-family: var(--font-avenir-lt);
  font-weight: inherit;
}

.Text_span_heading {
  font-size: var(--font-size-md);
  font-family: var(--font-big-caslon);
  font-weight: inherit;
}

.Text_span_normal {
  font-size: var(--font-size-md);
  font-family: var(--font-avenir-lt);
  font-weight: inherit;
}

.heading_underline {
  margin-bottom: var(--space-1);
}

.heading_underline > h1,
.heading_underline > h2,
.heading_underline > h3,
.heading_underline > h4,
.heading_underline > h5,
.heading_underline > h6,
.heading_underline > p,
.heading_underline > span {
  padding-bottom: var(--space-1);
  position: relative;
  display: inline;
}

.heading_underline > h1::after,
.heading_underline > h2::after,
.heading_underline > h3::after,
.heading_underline > h4::after,
.heading_underline > h5::after,
.heading_underline > h6::after,
.heading_underline > p::after,
.heading_underline > span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: calc(100% + 40px);
  background-color: var(--color-black);
}

.heading_bold {
  font-weight: 700;
}

.normal_underline h1,
.normal_underline h2,
.normal_underline h3,
.normal_underline h4,
.normal_underline h5,
.normal_underline h6,
.normal_underline p,
.normal_underline span {
  border-bottom: 1px solid var(--color-black);
  display: inline;
}

.normal_bold {
  font-weight: 700;
}
