.Registration_form {
}

.Registration_form_personal_info {
  margin-bottom: var(--space-8);
}

.Registration_form_headers {
  margin-bottom: var(--space-8);
}

.Registration_name_section {
  display: block;
  gap: var(--space-6);
}

@media screen and (min-width: 1024px) {
  .Registration_name_section {
    display: flex;
  }
}

.Registration_cta {
  margin-top: var(--space-10);
}

.Registration_cta a {
  text-decoration: underline;
  color: var(--color-text-brown);
}

.Registration_cta button {
  margin-top: var(--space-12);
  width: 217px;
}
