.Registration-form {
}

.Registration-form-personal-info {
  margin-bottom: var(--space-8);
}

.Registration-form-personal-info-heading {
}

.Registration-form-headers {
  margin-bottom: var(--space-8);
}

.Registration-name-section {
  display: block;
  gap: var(--space-6);
}

@media screen and (min-width: 1024px) {
  .Registration-name-section {
    display: flex;
  }
}

.Registration-cta {
  margin-top: var(--space-10);
}

.Registration-cta a {
  text-decoration: underline;
  color: var(--color-text-brown);
}

.Registration-cta button {
  margin-top: var(--space-12);
  width: 217px;
}
